img {
    image-rendering: pixelated;
    display: block;
    height: auto;
    max-width: 100%;
}

.spritesList {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

.spriteSlide{
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}