body {
    background: url(waves.png) repeat 0 0;
}

h1 {
    color: #ffcb05;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

img {
    image-rendering: pixelated;
    display: block;
    height: auto;
    max-width: 100%;
}

.spritesList {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

.spriteSlide{
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}

#rootContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #2a75bb;
    margin: auto;
    width: 80%;
    padding: 20px;
    transition:width 1s ease-in-out;
}

#pokemonSearch {
    padding: 12px 20px;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #BAB2B5;
    color: #123C69;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 10pt;
}

input:focus{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button{
    width: 25%;
    height: 100%;
    background-color: #123C69;
    border: none;
    color: #EEE2DC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 4px;
    transition: all .25s;
}

button:hover{
    background:#53a7ea;
}
